/* AccountClient.module.css */

/* Huvudcontainer för kontosidan */
.accountContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    z-index: 900;
}

/* Rubrik (Heading) i kontosidan */
.heading {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #2c3e50;
}

/* Gridlayout för att placera vänster och höger kolumn jämnt */
.accountGrid {
    display: flex; /* Flexbox-layout för att arrangera kolumner */
    justify-content: space-between; /* Skapar utrymme mellan kolumnerna */
    gap: 20px;
    width: 100%;
}

/* Vänster kolumn med en mörk bakgrund */
.leftColumn {
    color: beige;
    padding: 20px;
    border-radius: 8px; /* Rundar hörnen */
    background-color: #2c3e50c8;
    flex: 1;
}

/* Höger kolumn, med en annan bakgrundsfärg och centrerad layout */
.rightColumn {
    color: beige;
    padding: 20px;
    border-radius: 8px;
    background-image: url('../pic/white1.jpg');
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* Grupp för formulärkomponenter */
.formGroup {
    margin-bottom: 15px;
}



/* Etikett för formulärfält */
.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

/* Rubrik för formulärsektioner */
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Inputfält för användarinmatning */
.input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #2c3e50;
    width: 90%;
    max-width: 400px;
}

/* Spara-knappens stil */
.saveButton {
    background-color: #d4d4d4;
    color: #2c3e50c8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
}

/* Effekter vid hover (när användaren håller musen över knappen) */
.saveButton:hover {
    background-color: #a8a8a8;
}

/* Effekter vid fokus (när knappen är markerad eller vald) */
.saveButton:focus {
    outline: 3px solid #3498db;
}

/* Spara-knappens stil */
.saveButtonSaldo {
    background-color: #2c3e50c8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
}

/* Effekter vid hover (när användaren håller musen över knappen) */
.saveButtonSaldo:hover {
    background-color: #34495e;
}

/* Effekter vid fokus (när knappen är markerad eller vald) */
.saveButtonSaldo:focus {
    outline: 3px solid #3498db;
}

.saldo {
    font-size: 2.5em; 
}

.money {
    font-size: 2.5em; 
    color: #2c3e50;
    font-weight: bolder;
}

/* Media Query för små skärmar */
@media (max-width: 768px) {
    .accountContainer {
        padding: 20px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .accountGrid {
        flex-direction: column;
        gap: 15px;
    }

    .leftColumn, .rightColumn {
        flex: none;
        padding-top: 30px;
    }

    /* Justera storleken på text och knappar för mobil */
    .saldo, .money {
        font-size: 2rem;
    }

    .saveButton, .saveButtonSaldo {
        max-width: 100%;
    }
}
