/* Container för historiksidan, som håller allting centrerat och med viss padding */
.historyContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

/* Lista som visar historik för resor */
.historyList {
    margin-top: 20px;
}

.date {
    font-size: 30px;
    text-decoration: none;
}

/* Styler varje enskild resa i listan med flexbox för att ordna elementen horisontellt */
.rideItem {
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
    border-bottom: 1px solid #5b799d;
    padding-bottom: 10px;
}

/* Detaljer för varje resa, som visas i ett stycke */
.rideDetails {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.rideDetails p {
    margin: 5px 0;
    font-size: 14px;
}

.rideDetails a {
    text-decoration: none;
    font-weight: bold;
    color: #2C3E50;
}

/* Gör stark text fet inom rideDetails */
.rideDetails p strong {
    font-weight: bold;
}

/* Ikonens stil */
.mapIcon {
    width: 40px;
    height: 40px;
}


/* Mindre skärmar, t.ex. mobiltelefoner */
@media (max-width: 600px) {
    .historyContainer {
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
    }

    /* Gör om layouten för mobilskärmar */
    .rideItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .rideDetails {
        flex-direction: row;
        gap: 10px;
    }

    .mapContainer {
        height: 50px;
    }
}
