.container {
    display: flex;
    flex-direction: row; /* Ensure elements are side by side */
    gap: 16px; /* Add some space between the two components */
}

.map { /* lånat från HomeClient.module.css*/
    flex: 1;
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-left: 20px;
    padding-left: 30px;
}

.list {
    flex: 1; /* Adjust width ratio for the list */
    max-width: 40%; /* Optional: limit maximum width of the list */
}