/* Global reset */

.homecontaianer {
    display: flex;
    flex-direction: row; /* Gör att innehållet ordnas vertikalt */
    justify-content: center; /* Vertikal centrering */
    align-items: center; /* Horisontell centrering */
    height: 100vh; /* Full höjd på sidan */
    text-align: center; /* Centrerar texten */
    background-image: url('../pic/white1.jpg');
    background-size: cover;
    background-position: center;
  }
  
.map {
    width: 100%;
    max-width: 600px; /* Begränsa kartans storlek */
}

.quote {
    color: #c5d3e8;
    margin: 0; /* Ta bort standardmarginaler för rubriker */
    padding: 10px 0; /* Lätt padding för rubriker */
    font-size: 6rem;
}

.formcontainer {
    width: 100%;
    max-width: 400px; /* Begränsa formulärets storlek */
    background-color: rgba(255, 255, 255, 0.912);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
}
  

/* Rubrikens stil */
.title {
    font-size: 2rem; /* Standardstorlek */
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}



/* Stilar för formulärfält */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Stilar för inputfält och knappar */
input, button {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Stilar för knappen */
button {
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}

/* Hover-effekt för knappen */
button:hover {
    background-color: #34495e; /* Ljusare vid hover */
}

/* Media Queries */

/* Mindre skärmar, t.ex. mobiltelefoner */
@media (max-width: 600px) {
    .homecontainer {
        margin-top: 0; /* Justera för att minska avståndet från toppen */
        height: 100vh; /* Ta upp hela höjden */
        padding: 0; /* Ta bort onödig padding */
        flex-direction: column; 
    }
    
    .map {
        width: 100%;
        height: 100vh;
        z-index: 1; /* Lägst z-index för att placera den under både navbar och formulär */
      }
      

    .formcontainer {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background-color: rgba(197, 211, 232, 0.8);
        padding: 15px;
        border-radius: 10px;
        z-index: 900; /* Lägre än navbaren, men högre än kartan */
      }
      

    .title {
        font-size: 1.5rem; /* Mindre textstorlek */
    }
    input, button {
        font-size: 0.9rem; /* Mindre textstorlek */
        padding: 8px; /* Mindre padding */
    }
    .quote {
        display: none;
    }
}

/* Mediumstora skärmar, t.ex. surfplattor */
@media (max-width: 900px) {
    .formcontainer {
        width: 90%; /* Nästan hela bredden */
    }
}
