.mapContainer {
    height: 70vh; /* Anpassar höjden till 70% av skärmens höjd */
    width: 40vw;  /* Anpassar bredden till 70% av skärmens bredd */
    max-width: 1000px; /* Sätter en maxgräns för bredd */
    border-radius: 10px;
    align-self: stretch; 
}

.custom-bike-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bike-icon {
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%22200px%22%20width%3D%22200px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20viewBox%3D%220%200%20294.006%20294.006%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23211915%22%20d%3D%22M259.999%2C211.872c-1.629%2C0-3.229%2C0.122-4.797%2C0.345L173.963%2C39.691l15.024-6.358%20c5.086-2.152%2C7.465-8.02%2C5.313-13.106s-8.021-7.466-13.106-5.312l-50.882%2C21.532c-5.086%2C2.152-7.465%2C8.021-5.313%2C13.106%20c1.614%2C3.814%2C5.317%2C6.105%2C9.214%2C6.105c1.299%2C0%2C2.621-0.255%2C3.893-0.794l17.425-7.374l71.754%2C152.384%20c-14.251%2C7.906-24.207%2C21.882-27.196%2C37.708H91.61c-2.729-19.37-13.387-34.848-29.179-41.572%20c-5.083-2.164-10.955%2C0.202-13.118%2C5.284c-2.164%2C5.081%2C0.202%2C10.954%2C5.283%2C13.118c9.669%2C4.117%2C14.721%2C13.531%2C16.697%2C23.17h-4.307%20c-3.713-14.754-17.089-25.711-32.979-25.711C15.255%2C211.872%2C0%2C227.128%2C0%2C245.879s15.255%2C34.007%2C34.007%2C34.007%20c14.641%2C0%2C27.149-9.3%2C31.931-22.303h143.213c5.523%2C0%2C10-4.478%2C10-10c0-12.093%2C6.459-23.331%2C16.691-29.534l1.271%2C2.699%20c-6.828%2C6.224-11.12%2C15.185-11.12%2C25.13c0%2C18.751%2C15.255%2C34.007%2C34.007%2C34.007s34.007-15.256%2C34.007-34.007%20S278.75%2C211.872%2C259.999%2C211.872z%20M34.007%2C259.885c-7.724%2C0-14.007-6.283-14.007-14.007s6.283-14.007%2C14.007-14.007%20c4.617%2C0%2C8.707%2C2.255%2C11.26%2C5.711h-11.26c-5.523%2C0-10%2C4.478-10%2C10s4.477%2C10%2C10%2C10h7.674%20C39.474%2C259.034%2C36.84%2C259.885%2C34.007%2C259.885z%20M259.999%2C259.885c-7.724%2C0-14.007-6.283-14.007-14.007%20c0-1.611%2C0.287-3.153%2C0.79-4.595l4.169%2C8.855c1.705%2C3.62%2C5.301%2C5.742%2C9.054%2C5.742c1.427%2C0%2C2.876-0.307%2C4.253-0.955%20c4.997-2.353%2C7.14-8.311%2C4.787-13.307l-4.169-8.853c5.322%2C1.987%2C9.128%2C7.107%2C9.128%2C13.113%20C274.006%2C253.602%2C267.723%2C259.885%2C259.999%2C259.885z%22/%3E%3C/g%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
}


/* Mediumstora skärmar, t.ex. surfplattor */
@media (max-width: 900px) {
    .mapContainer {
        height: 100vh; /* Höjden på kartan */
        width: 100%;   /* Bredden på kartan */
    }

    .map {
        outline-style: none; /* Tar bort outline */
      }
}