.mapContainer {
    height: 700px; /* Höjden på kartan */
    width: 100%;   /* Bredden på kartan */
    margin-top: 50px;
}

/* Mediumstora skärmar, t.ex. surfplattor */
@media (max-width: 900px) {
    .mapContainer {
        height: 100vh; /* Höjden på kartan */
        width: 100%;   /* Bredden på kartan */
    }
}