.mapContainer {
    height: 70vh; /* Anpassar höjden till 70% av skärmens höjd */
    width: 70vw;  /* Anpassar bredden till 70% av skärmens bredd */
    max-width: 1000px; /* Sätter en maxgräns för bredd */
    border-radius: 10px;
    align-self: stretch; 
}


/* Mediumstora skärmar, t.ex. surfplattor */
@media (max-width: 900px) {
    .mapContainer {
        height: 100vh; /* Höjden på kartan */
        width: 100%;   /* Bredden på kartan */
    }
}